<%= form_for(@harmonizacao) do |f| %>
  <% if @harmonizacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@harmonizacao.errors.count, "error") %> prohibited this harmonizacao from being saved:</h2>

      <ul>
      <% @harmonizacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vinho_id %><br>
    <%= f.number_field :vinho_id, :class=>"form-control",:placeholder=>"Número do vinho" %>
  </div>
  <div class="field">
    <%= f.label :prato_id %><br>
    <%= f.number_field :prato_id, :class=>"form-control",:placeholder=>"Número do prato" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
