<p id="notice"><%= notice %></p>

<p>
  <strong>Vinho:</strong>
  <%= @harmonizacao.vinho_id, :class=>"form-control" %>
</p>

<p>
  <strong>Prato:</strong>
  <%= @harmonizacao.prato_id, :class=>"form-control" %>
</p>

<%= link_to 'Edit', edit_harmonizacao_path(@harmonizacao) %> |
<%= link_to 'Back', harmonizacoes_path %>
